body {
    color: #1b7ac9;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

/* Title  */
#title {
    color: #49a5f1;
    background-color: var(--dark-background);
    padding-bottom: 15%;
    position: relative;
}

#footer {
    color: rgb(241, 210, 244);
    font-size: 20px !important;
     text-align: center;
    padding: 8px;
    background-color: rgb(100, 61, 136);
}

    /* display: block;
    background-color: #dae5ed;
    display: flex;
     flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
    margin-bottom: 20px; */ /* Adjust the value as needed */




  /*
.portfolio-image {
    opacity: 0;
    border: 5px solid #eeeeee;
    position: absolute;
    overflow: hidden;
    right: 7%;
    top: 10%;
    width: 60%;
    animation: fadeIn 3s ease forwards;
    animation-delay: 3.5s;
}

.heading-intro {
    font-size: 1.5rem;
    padding: 20% 0 0;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    animation: text_reveal_p 1.5s ease forwards;
    animation-delay: 0.5s;
}

.heading-span-intro {
    position: absolute;
    left: 0;
    top: 70%;
    height: 30%;
    width: 100%;
    background-color: var(--dark-background);
    animation: overlay 1.5s ease forwards;
    /* animation-delay: 0.5s;
}
*/

