@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
    font-family: 'Poppins', sans-serif;
}

/* Title  */ /*check if this is needed*/
/*#title {
    color: #49a5f1;
    background-color: var(--dark-background);
    padding-bottom: 15%;
    position: relative;
}*/



/* nav bar stuff*/

nav a {
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    }
  
  nav a:hover {
    color: #6e35a2; /* Purple color on hover */
    /*was 1.1*/
    transform: scale(1.4); /* Scale up effect */
  }
  
  nav a[aria-current="page"] {
    /*background-color: #6e35a2; /* Purple background for active page */
    /*color: #190B28; /* White text for active page */
    font-weight: bold; /* Bold font for active page */

    /*color: #88527F; /* White text for active page */
    
    /*color: #302F4D; /* White text for active page */

    /*color: #54426B; /* White text for active page GOOD*/

    color: #e6186a; /* White text for active page GOOD*/
  }


  /* footer bar stuff*/
  #footer svg {
    transition: transform 0.2s, color 0.2s;
  }
  
  #footer svg:hover {
    color: #6e35a2; /* Purple color on hover */
    transform: scale(1.5); /* Scale up effect */
  }


/* footer styling */
#footer {
    color: rgb(100, 61, 136);
    /*color: rgb(241, 210, 244);*/
    font-size: 20px !important;
    text-align: center;
    padding: 8px;
    background-color: #643d88;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/*works*/
#home-intro {
    color: rgb(100, 61, 136);
    font-size: 20px !important;
    padding: 8px;
}


#ab-header {
    color: rgb(100, 61, 136);
    /*color: rgb(241, 210, 244);*/
    font-size: 20px !important;
    text-align: center;
    padding: 8px;
    background-color: #643d88;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}




/*doesn't work I think*/
#about-me {
    text-wrap: pretty;
}




    /* display: block;
    background-color: #dae5ed;
    display: flex;
     flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
    margin-bottom: 20px; */ /* Adjust the value as needed */




  /*


.heading-intro {
    font-size: 1.5rem;
    padding: 20% 0 0;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    animation: text_reveal_p 1.5s ease forwards;
    animation-delay: 0.5s;
}

.heading-span-intro {
    position: absolute;
    left: 0;
    top: 70%;
    height: 30%;
    width: 100%;
    background-color: var(--dark-background);
    animation: overlay 1.5s ease forwards;
    /* animation-delay: 0.5s;
}
*/

